@import url(https://fonts.googleapis.com/css?family=Montserrat);

nav {
  background-color: #023E50;
  height: 66px;

  .testive {
    width: 3.5em;
    height: 3.5em;
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .brand-logo {
    font-family: "Montserrat";
    font-size: 1.5rem;
    padding-left: 1.2em;
  }

  .right {
    .addWord {
      padding-right: 1em;
      padding-left: 1em;
      a {
        padding-top: 0.2em;
      }
    }
  }

}
