.container {
  font-family: "Montserrat";

  .row {
    padding-top: 5em;

    .plus {
      margin-top: 0.5em;
      .mdi-content-add {
        color: black;
      }
    }

    #newWord {
      margin-top: 1.5em;
      margin-right: 1em;
      width: 20%;
    }
  }

  .getWord {
    padding-top: 1em;
    font-size: 4em;
  }

  #wordBody {
    display: none;
    font-size: 1.5em;

    .getSpeechType {
      font-style: italic;
      padding-bottom: 1em;
    }

    .getDefinition {
      padding-bottom: 1em;
    }
  }
}
