
.container {

  .row {
    padding-top: 2.5em;

    .circle {
      margin-top: 1.3em;
    }
  }

  .getWord {
    padding-top: 1em;
    font-size: 4em;
  }

  #wordBody {
    display: none;
    font-size: 1.5em;
  }
}
